.string__text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.string__head {
    text-align: center;
}

.number__text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
